@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-10">
    <h1 class="text-3xl font-bold">Bienvenido</h1>

    <div class="mt-6">
        <a asp-controller="User" asp-action="Index"
           class="px-6 py-2 bg-blue-600 text-white rounded-lg shadow hover:bg-blue-700 transition">
            Empleados
        </a>
    </div>
</div>
